<ion-popover-view>
  <!-- <ion-header-bar>
	  <h1 class="title">Title</h1>
  </ion-header-bar> -->
  <ion-content scroll="false" class="">
	<div class="list">
	  <a class="item" ng-click="openModal($event, 0, 4)"><i class="icon ion-plus-circled"></i> Agregar</a>
	  <!-- <a class="item"><i class="icon ion-trash-a"></i> Eliminar</a> -->
	</div>
  </ion-content>
</ion-popover-view>