<ion-view view-title="Login">
  <ion-content class="padding">
    <img class="center" src="img/logo-150x50.png" alt="">
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" data-ng-model="$parent.username">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="$parent.password">
        </label>
        <button class="button button-block button-positive" ng-click="signme($event)">Entrar</button>
    </div>
  </ion-content>
</ion-view>
