<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
	<h1 class="title">{{materialDetails.name}}</h1>
	<button class="button button-clear button-primary" ng-click="closeModal(3)">Cancelar</button>
  </ion-header-bar>
  <ion-content class="padding">
	<div class="list">
	  <label class="item item-input">
		<span class="input-label">Precio </span>
		<input type="text" ng-model="materialDetails.price">
	  </label>
	  <label class="item item-input">
		<span class="input-label">Cantidad</span>
		<input type="text" value="3" ng-model="materialDetails.cant">
	  </label>
	  <label class="item item-input">
		<span class="input-label">Total:</span>
		<label for="">$ {{(materialDetails.price) * (materialDetails.cant)}}</label>
	  </label>
	  <button class="button button-full button-positive" ng-click="updateMaterial(materialDetails)">Agregar</button>
	</div>
  </ion-content>
</ion-modal-view>