<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
	<h1 class="title">Nuevo material</h1>
	<button class="button button-clear button-primary" ng-click="closeModal(5)">Cancelar</button>
  </ion-header-bar>
  <ion-content class="padding">
	<div class="list">
	  <div class="item item-input">
		<span class="input-label">Nombre </span>
		<input type="text" ng-model="nombre" value="">
	  </div>
	  <div class="item item-input">
		<span class="input-label">Descripci&oacute;n </span>
		<input type="text" ng-model="descripcion" value="">
	  </div>
	  <div class="item item-input">
		<span class="input-label">Precio </span>
		<input type="text" ng-model="price" value="">
	  </div>
	  <div class="item item-input">
		<span class="input-label">Cantidad</span>
		<input type="text" value="" ng-model="materialDetails.cant">
	  </div>
	  <button class="button button-full button-positive" ng-click="addMaterialPhase(materialDetails)">Guardar</button>
	</div>
  </ion-content>
</ion-modal-view>