<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
	<h1 class="title">Agregar material</h1>
	<button class="button button-clear button-primary" ng-click="closeModal(4)">Cancelar</button>
  </ion-header-bar>
  <ion-content class="padding">
	<div class="list">
	  <div class="item item-input item-select select-materials">
		<span class="input-label">Material </span>
		<select class="select-materials">
		  <option></option>
		  <option ng-repeat="material in materialsList | orderBy: 'name'" ng-value="{{material.id}}">{{material.name}}</option>
		</select>
		<a class="i-add-material" ng-click="openModal($event,0,5)"><i class="icon ion-plus-circled"></i></a>
	  </div>
	  <div class="item item-input">
		<span class="input-label">Precio </span>
		<input type="text" ng-model="price" value="">
	  </div>
	  <div class="item item-input">
		<span class="input-label">Cantidad</span>
		<input type="text" value="" ng-model="materialDetails.cant">
	  </div>
	  <div class="item item-input">
		<span class="input-label">Total:</span>
		<label for="">$ {{(materialDetails.price) * (materialDetails.cant)}}</label>
	  </div>
	  <button class="button button-full button-positive" ng-click="addMaterialPhase(materialDetails)">Agregar</button>
	</div>
  </ion-content>
</ion-modal-view>