<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">{{phaseDetails.name}}</h1>
		<button class="button button-clear button-primary" ng-click="closeModal(2)">
			<i class="ion-close-circled"></i>
		</button>
		</ion-header-bar>
		<ion-content>
		<div class="item item-divider">
			<div class="buttons left delete-material">
				<i class="ion-ios-minus-outline delete-material" ng-click="btnDelete.showDelete = !btnDelete.showDelete; btnDelete.showDetails = !btnDelete.showDetails"></i>
			</div>
			<span>Materiales</span>
			<div class="buttons right">
				<i class="ion-more" ng-click="popover.show($event)"></i>
			</div>
		</div>
		<ion-list show-delete="btnDelete.showDelete" show-details="btnDelete.showDetails">
			<div ng-repeat="mat in materials">
			<ion-item class="item-stable" ng-click="toggleMaterial(mat)" ng-class="{active: isMaterialShown(mat)}">
				<i class="icon" ng-show="btnDelete.showDetails" ng-class="isMaterialShown(mat) ? 'ion-minus' : 'ion-plus'"></i>
					&nbsp;
					{{mat.name}}
					<ion-delete-button class="ion-minus-circled" ng-click="deleteMaterial(mat)"></ion-delete-button>
					<span class="item-note">
					{{mat.price}}
				</span>
			</ion-item>
			<ion-item class="item-accordion txt-right" ng-show="isMaterialShown(mat)">
				<div class="row">
					<div class="col-20 txt-left">
						<a ng-click="openModal($event, mat.id, 3)">
							<i class="button-icon ion-compose"></i> Editar
						</a>
					</div>
					<div class="col col-33 col-offset-25">Precio unitario:</div>
						<div class="col">${{mat.price}}.00</div>
				</div>
				<div class="row">
						<div class="col col-33 col-offset-50 pad-cantidad">Cantidad:</div>
						<div class="col">{{mat.qty}}</div>
				</div>
				<div class="row">
						<div class="col col-33 col-offset-50 bold">Total:</div>
						<div class="col">${{mat.price * mat.qty}}.00</div>
				</div>
			</ion-item>
		</div>
		</ion-list>
		<!--<div class="item item-divider txt-right">
			Total: $900.00
		</div>-->
	</ion-content>
</ion-modal-view>