<ion-view view-title="Bienvenido a SICOSA, {{fullName}}">
  <ion-content class="padding">
    <p ng-if="hasAssignedWork">
      <div class="bar bar-header bar-dark bartitle">
        <h1 class="title">Obras asignadas</h1>
      </div>
      <div class="workContainer">
        <div class="list card" ng-repeat="work in works">
          <div class="item item-avatar">
            <img src="http://intranet.sicosa.mx/images/{{work.photo}}.jpg" onError="this.onerror=null;this.src='img/icon_compasses-512.png';">
            <h2> {{work.title}}
              <a class="item assertive more-details" ng-click="openModal($event,work.id,1)">
                <i class="ion-information-circled"></i>
                Ver detalles
              </a>
            </h2>
          </div>
        </div>
      </div>
    </p>
  </ion-content>
</ion-view>
