<ion-view view-title="Mi Cuenta">
  <ion-content>

    <div class="img-centered" style="text-align: center;">
      <img src="img/icon-user-default.png" alt="" style="width:128px;height:128px;border-radius:80px;">
       <h2>{{fullName}}</h2>
    </div>
    <button class="button button-full button-dark">
      <p>Mi Perfil</p>
    </button>
    <button class="button button-full button-dark">
      <p>Cambiar Contraseña</p>
    </button>
    <button class="button button-full button-assertive" ng-click="logout($event)">
      Salir <i class="ion-android-exit"></i>
    </button>
    
    
  </ion-content>
</ion-view>
