<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
	<h1 class="title">Obra </h1>
	<button class="button button-clear button-primary" ng-click="closeModal(1)">
	  <!-- Cerrar  -->
	  <i class="ion-close-circled"></i>
	</button>
  </ion-header-bar>
  <ion-content>
	<div class="list card">
	  <div class="item item-avatar">
		<img src="http://intranet.sicosa.mx/images/{{workDetails.photo}}.jpg">
		<h2>{{workDetails.title}}</h2>
		<p>Fecha de Inicio: </p>
	  </div>

	  <div class="item item-body">
		<img class="full-image" src="http://intranet.sicosa.mx/images/{{workDetails.photo}}.jpg">
		<p>
		  Descripci&oacute;n: {{workDetails.description}}
		</p>
	  </div>
	  <div class="list">
		<div class="item item-divider">
		  <span>Fases de la obra</span>
			<span class="ion-plus" modal-select="" ng-model="selectedPhase" options="phases" modal-title="Selecciona una Fase"  style="float:right;cursor:pointer;">
				<div class="option" >
    			{{option.name}}
  			</div>
			</span>

		</div>
		<div class="item item-text-wrap" ng-repeat="phase in workDetails.phase" ng-click="openModal($event, phase.id,2)">
		  <i class="icon ion-ios-information"></i> {{phase.name}}
			<i class="icon ion-trash-a" style="color:red;float:right;" ng-click="removePhaseFromWork($event,phase.id)"></i>
		</div>
	  </div>
	</div>
  </ion-content>
</ion-modal-view>
