<div class="mainCtrl">    
    <div class="container-fluid">
   
    <div id="message" class="rotate">Construcción, Topografía, Urbanización, Arquitectura</div>
    <div class="body">
        <p>Somos una empresa que brinda servicios de construcción y topografía</p>    
        <p>para los sectores industrial, público y privado;</p> 
        <p>enfocada en lograr la satisfacción de sus clientes con seguridad, tecnología y economía,</p> 
        <p>aportando así grandes beneficios.</p>
    </div>
    </div>
    
    
        <video autoplay loop id="bgvid">
            <source src="../images/sicosa-movie.mp4" type="video/mp4">
            <div class="video-container">
              
            </div>
            
        </video>

    
    <!--<div class="jumbotron">
        <div class="container">
        <div class="col-md-6">
            <h2>Historia</h2>
            <p>En 1983, nace nuestra empresa bajo el nombre de Arbra, S.A de C.V con la idea de tener un equipo de trabajo que cumpliera con las expectativas de nuestros clientes con topografía, realizando trabajos en toda la república.  
            En 1992 se decide incursionar en la construcción por ofrecimiento de nuestros clientes y para 1994 se crea la empresa Sicosa, S.A de C.V (Sistemas constructivos). Sicosa es una empresa que brinda servicios de construcción y topografía para los sectores industrial, público y privado enfocándonos a lograr la satisfacción de nuestros clientes con seguridad, tecnología y economía, aportando así grandes beneficios. </p>
        </div>
        <div class="col-md-6">
            <h2>Misión, Visión y Objetivo</h2>
            <p>En SICOSA, trabajaremos para alcanzar un crecimiento en nuestro mercado, aplicando tecnología de vanguardia y basándonos en una estructura organizacional e infraestructura amplia y propia.  
            Buscando el desarrollo personal y profesional de nuestro equipo, garantizando así una mejor calidad a nuestros clientes. </p>
        </div>
        
        </div>
    </div>-->
</div>