<div class="workCtrl">
    <div class="container">
        <label>Search: <input placeholder="Search..." class="form-control" ng-model="search.title"></label>
        <div class="workItem col-md-12" ng-repeat="work in works | toArray:false | filter:search">
            <h2>{{work.title}}</h2>
            <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit veritus placerat per.</p>
        </div>
    </div>
</div>