<div class="aboutCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Instructivo</h2>
            </div>
        </div>
        <hr><hr>
        <div class="row">
            <div class="col-md-4">
                <img class="thumbnail" src="images/screenshot-localhost 9000 2016-07-05 06-28-13.png" alt="Obras">
            </div>
            <div class="col-md-8">
                <h3>Agregar, Editar o Eliminar Obra</h3>
                <p>Para <b>Agregar</b> una obra se da click en el icono que se muestra en la imagen y posteriormente en el botón
                    agregar Obra.
                </p>
                <p>Para <b>Editar</b> obra se localiza la obra a editar y se da click en "Editar", 
                    se podrá ver toda la información respecto a la obra</p>
                    
                <pre>Al agregar una obra se dispara un evento, donde el administrador de la aplicación y el estimador de costos
                    podrán hacer operaciones.
                </pre>
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="images/screenshot-localhost 9000 2016-07-05 06-38-08.png" alt="Empleados Ext" class="thumbnail">
            </div>
            <div class="col-md-8">
                <h3>Agregar, Editar o Eliminar Empleados externos</h3>
                <p>Para <b>Agregar</b> un empleado se da click en el icono que se muestra en la imagen y posteriormente en el botón
                    agregar empleado.
                </p>
                <p>Para <b>Editar</b> empleado se localiza el empleado a editar y se da click en "Editar", 
                    se podrá ver toda la información respecto a el empleado</p>
                    
                <pre>Esta sección solo es para empleados externos 
                </pre>
            </div>
            
            
        </div>
        
    </div>
    <hr><hr>
    <p>Necesitas Ayuda?</p>
    <p>Estamos para ayudarte, mandanos un correo a carlos.arenas@awensoft.com</p>
    <p>Gracias por confíar en AwenSoft :) </p>
    
    <p>Consigue ahora la App en :</p>
    <a href="#">
        <img width="200" src="https://storage.googleapis.com/support-kms-prod/D90D94331E54D2005CC8CEE352FF98ECF639" alt="">
    </a>
</div>

