<div class="accountCtrl">
	<div class="">
		<h3>Mi Perfil: {{user.first_name}} {{user.last_name}}</h3>
		<hr>
		<div class="row">
			<div class="col-md-7 col-sm-7 col-xs-12">
				<div class="well well-sm">
					<div class="row">
						<div class="col-md-5 col-sm-5 col-xs-5">
							<img src="http://intranet.sicosa.mx/images/{{user.photo}}.jpg" onError="this.onerror=null;this.src='images/icon-user-default.png';" alt="" class="img-responsive" >
						</div>
						<div class="col-md-7 col-sm-7 col-xs-7">
							<div class="actions-tab">
								<label>Informaci&oacute;n</label>
								<ul class="list-group">
									<li class="list-group-item"><i class="glyphicon glyphicon-envelope"></i> Correo: {{user.email}}</li>
									<li class="list-group-item"><i class="fa fa-birthday-cake" aria-hidden="true"></i> Cumplea&ntilde;os: {{user.birthday }}</li>
									<li class="list-group-item"><i class="glyphicon glyphicon-briefcase" aria-hidden="true"></i> {{user.area }}</li>
								</ul>
								<a  href=""  data-toggle="modal" data-target="#changePswModal"  ><i class="fa fa-unlock-alt" aria-hidden="true"></i> Cambiar Contraseña</a>
								<!-- <a href=""> <i class="fa fa-envelope-o" aria-hidden="true"></i> {{user.email}}</a><br>
								<a href=""> <i class="fa fa-birthday-cake" aria-hidden="true"></i>{{user.birthday }} </a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-5 col-sm-5 col-xs-12">
				<div class="well well-sm" style="height: 246.83px; overflow-y: scroll; overflow-x: hidden;">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<label>Reportes y Docs</label>
							<button class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#addSpread">+</button>
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Nombre</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="spread in user.spreads">
										<td>
											<a target="_blank" href="http://intranet.sicosa.mx:8000/{{spread.url}}">
												<img src="images/excel-spreadsheet-icon-file-type-xls-icon-18.png" alt="" width="28">
												<span>{{spread.name}}</span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- <div ng-repeat="spread in user.spreads">
								<a target="_blank" href="http://intranet.sicosa.mx:8000/{{spread.url}}"><img src="images/excel-spreadsheet-icon-file-type-xls-icon-18.png" alt="" width="28"> <span>{{spread.name}}</span></a>
							</div> -->
						</div>
					</div>
				</div>
				<!-- <div class="reports-tab">
				   <label class="header">Reportes y Docs</label>
				   <div class="body">
					   <div ng-repeat="spread in user.spreads">
						   <a target="_blank" href="http://intranet.sicosa.mx:8000/{{spread.url}}"><img src="images/excel-spreadsheet-icon-file-type-xls-icon-18.png" alt="" width="28"> <span>{{spread.name}}</span></a>
					   </div>
				   </div>
			   </div> -->
			</div>      
		 </div>
		 

		<div class="well well-sm">
			<ul class="nav nav-tabs" role="tablist" id="profile-tabs">
				<li role="presentation" class="active">
					<a href="#articles-tab" aria-controls="articles-tab" role="tab" data-toggle="tab">Art&iacute;culos</a>
				</li>
				<li role="presentation">
					<a href="#req-tab" aria-controls="req-tab" role="tab" data-toggle="tab">Requisici&oacute;n</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="articles-tab">
					<table class="table table-striped table-hover margin-top-bott">
						<thead>
							<tr>
								<th class="text-center">Art&iacute;culo</th>
								<th class="text-center">Serie/Placas</th>
								<th class="text-center">Fecha</th>
								<th class="text-center">Estatus</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="articleUser in user.articles">
								<td>{{articleUser.name}}</td>
								<td class="text-center">{{articleUser.serie}}</td>
								<td class="text-center">{{articleUser.createdAt | date:'dd/MM/yy'}}</td>
								<td class="text-center">{{articleUser.status}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="req-tab">
					<div class="form-horizontal margin-top-bott">
						<div class="form-group">
							<label class="control-label col-sm-2" for="">Producto</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="req.product" id="prod" placeholder="Disco Duro HDD">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="">Descripción</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="req.description" id="prod" placeholder="500GB SSD">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="">Unidad</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="req.unit" id="prod" placeholder="Kg, gr, cm, mb">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="">Cantidad Requisitada</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" ng-model="req.qty_requisited" id="prod" placeholder="3">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="">Cantidad Por Requerir</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" ng-model="req.qty_required" id="prod" placeholder="3">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="">Fecha Requerida</label>
							<div class="col-sm-10">
								<input type="date" class="form-control" ng-model="req.date_required" id="prod" placeholder="3">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="">Partida</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="req.departure" id="prod">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="">Pendiente por Requerir</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="req.pending" id="prod" >
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<button type="button" class="btn btn-primary" name="button" ng-click="saveReq($event)">Guardar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





		 <div class="row">
			 <div class="col-md-4 col-sm-4 col-xs-4">
				<div class="actions-tab">
					<label class="header">Acciones</label>
					<div class="body">
						<a data-toggle="modal" data-target="#newReqModal"><i class="fa fa-cart-plus" aria-hidden="true"></i> Requisitar</a><br>
						<a href=""><i class="fa fa-eye" aria-hidden="true"></i> Ver Articulos Prestados</a><br>
						<a  href=""  data-toggle="modal" data-target="#changePswModal"  ><i class="fa fa-unlock-alt" aria-hidden="true"></i> Cambiar Contraseña</a><br>                  
						<a  href="" ng-click="logout($event)"><i class="fa fa-power-off"></i> Salir</a>
					</div>
				</div>
			 </div>
		 </div>
	</div>
</div>
<div style="margin: 0 auto;" id="changePswModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
			<div class="form-group">
				<label for="pwd">Nueva Contraseña:</label>
				<input type="password" ng-model="newPassword" class="form-control" id="pwd">
			</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-success"  ng-click="changePassword($event)">Guardar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>

	</div>
</div>



<div id="addSpread" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Spreadsheet</h4>
			</div>
			<div class="modal-body">

				<div class="work-description">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="nombre">Título:</label>
								<input type="text" ng-model="spread.name" class="form-control" id="nombre">
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="apellido">Tema:</label>
								<input type="text" ng-model="spread.subject" class="form-control" id="apellido">
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12" >
								<div class="form-group">
									<label for="work">Asignar a (Obra):</label>
										<angucomplete-alt id="ex1"
											placeholder="Buscar Obra"
											pause="100"
											selected-object="selectedWork"
											local-data="works"
											search-fields="title"
											title-field="title"
											minlength="1"
											input-class="form-control form-control-small"/>

								</div>
							</div>
							 <div class="col-md-12 col-sm-12 col-xs-12" >
								 <div class="form-group">
									<label for="work">Etiquetar:</label>
									<select class="js-example-basic-multiple-users form-control" ng-model="spread.users" multiple="multiple">
										<option ng-repeat="user in users" value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
									</select>
								 </div>
							</div>
					   </div>

				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"  ng-click="saveSpread($event)">Guardar</button>
				<button type="button" class="btn btn-default" ng-click="closeModal($event)" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="successModal" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p>Registro guardado &eacute;xitosamente</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
			</div>
		</div>
	</div>
</div>