<!-- <div class="form-inline margin-top-bott col-md-3">
	<label for="sel-status-filter">Mostrar</label>
	<select class="form-control" ng-model="statusFilter.status" id="sel-status-filter">
		<option value="" ng-value="">Todos</option>
		<option value="Disponible" ng-value="Disponible">Disponible</option>
		<option value="Ocupado" ng-value="Ocupado">Ocupado</option>
	</select>
</div> -->
<button type="button" class="btn btn-sm btn-primary pull-right margin-top-bott" data-toggle="modal" data-target="#newArticle" ng-click="newArticle($event)">
	<i class="glyphicon glyphicon-plus"></i> Art&iacute;culo
</button>
<div class=clearfix></div>
<div class="table-responsive">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th class="text-center">Art&iacute;culo</th>
				<th class="text-center">Serie/Placas</th>
				<th class="text-center">Esp&eacute;cificaciones</th>
				<th class="text-center">Estatus</th>
				<th class="text-center">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<!-- <tr ng-repeat="article in articles | orderBy:'name'" ng-if="article.status == 'Disponible'"> -->
			<tr ng-repeat="article in articles  |  orderBy:'name' ">
				<td>{{article.name}}</td>
				<td class="text-center">{{article.serie}}</td>
				<td>{{article.specs}}</td>
				<td class="text-center">{{article.status}}</td>
				<td class="text-center">
					<div class="btn-group btn-group-sm" role="group" aria-label="...">
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#newArticle" ng-click="editArticle($event,article)"><i class="glyphicon glyphicon-pencil"></i></button>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteArticleModal" ng-click="removeArtModal($event,article)"><i class="glyphicon glyphicon-trash"></i></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
