<div class="articlesCtrl">
	<header class="page-header">
		<h1>Resguardo de equipo</h1>
		<!-- <small>Subtext for header</small> -->
	</header>

	<div>
		<ul class="nav nav-tabs" role="tablist" id="articleTabs">
			<li role="presentation" class="active">
				<a href="#articlesList" aria-controls="home" role="tab" data-toggle="tab">Art&iacute;culos</a>
			</li>
			<li role="presentation">
				<a href="#requestArticleList" aria-controls="profile" role="tab" data-toggle="tab">Solicitudes</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="articlesList">
				<articles-list></articles-list>
			</div>
			<div role="tabpanel" class="tab-pane" id="requestArticleList">
				<requests-aricle-list></requests-aricle-list>
			</div>
		</div>
	</div>

</div>
<new-article></new-article>
<new-request-article></new-request-article>
<delete-modal></delete-modal>


<div class="modal fade" id="deleteArticleModal" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Confirmar</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p>¿Est&aacute;s seguro de eliminar {{currentRemoveArt.name}}?</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="deleteArticle($event, currentRemoveArt.id)">Eliminar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
