<div class="employeeCtrl">
    <div class="">
        <div class="row headers">
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="search" placeholder="Buscar...">
            </div>
            <div class="col-md-2">
                <button class="btn btn-success" data-toggle="modal" ng-click="openModal($event,'lg')" data-target="#addEmployeeModal">Agregar Empleado</button>   
            </div>
        </div>
	    <div class="row">
            <div class="col-sm-6 col-md-6" ng-repeat="employee in employees |filter: search">
                <div class="thumbnail">
                    <img src="images/gravatar.jpg" width="212" height="212" alt="...">
                    <div class="caption">
                        <h3>{{employee.name}}</h3>
                        <p>Puesto: {{employee.position}}</p>
                        <p>
                            <a href="" class="btn btn-info" role="button" data-toggle="modal" ng-click="editEmployee($event, employee)" data-target="#seeEmployeeDetails">Ver mas Detalles</a>
                            <a href="" class="btn btn-warning" role="button" data-toggle="modal" ng-click="editEmployee($event, employee)" data-target="#addEmployeeModal">Editar</a> 
                            <a href="" class="btn btn-danger" role="button" ng-click="removeEmployee($event, employee.id)">Eliminar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

    <!-- Modal -->
    <div id="addEmployeeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
         <!-- Modal content-->
         <form  ng-submit="saveEmployee($event)">
         <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar Empleado</h4>
            </div>
            <div class="modal-body">
               
                <div class="work-description"> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div flow-init="" flow-files-submitted="$flow.upload()"   flow-file-success="uploadFile( $file, $message, $flow )" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">
                                <div class="drop" flow-drop="" ng-class="dropClass">
                                    <span class="btn btn-default" flow-btn="">Upload Image<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>
                                    <!--<span class="btn btn-default" flow-btn="" flow-directory="" ng-show="$flow.supportDirectory">Upload Folder of Images<input type="file" multiple="multiple" webkitdirectory="webkitdirectory" style="visibility: hidden; position: absolute;"></span>
                                    <b>OR</b>-->
                                    Drag And Drop your images here
                                </div>
                                <br>
                                <div>

                                 <div ng-repeat="file in $flow.files" class="gallery-box ng-scope">
                                    <span class="title ng-binding">gravatar.jpg</span>
                                    <div class="thumbnail" ng-show="$flow.files.length">
                                        <img id="image" flow-img="file" ng-src="image" style="
                                    width: 86px;
                                    height: 76px;
                                "
                                    </div>
                                    <!--<div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                                        <span class="sr-only ng-binding">1% Complete</span>
                                        </div>
                                    </div>-->
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                        Remove
                                        </a>
                                    </div>
                                    </div><!-- end ngRepeat: file in $flow.files -->
                                    <div class="clear"></div>
                                </div>

                                </div>
                                <!--<img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">-->
                              
                            </div>
                          
                          </div>
                        
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" ng-model="currentEmployee.name" class="form-control" id="nombre" required/>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="form-group">
                                <label for="position">Puesto:</label>
                                <input type="text" ng-model="currentEmployee.position" class="form-control" id="position" required/>
                            </div>
                        </div>
                    
                       
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="direccion">Fecha de Ingreso:</label>
                                <input type="date" ng-model="currentEmployee.date_of_admission" class="form-control" id="direccion">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="direccion">Fecha de Nacimiento:</label>
                                <input type="date" ng-model="currentEmployee.birthday" class="form-control" id="direccion">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="estado">Lugar de Nacimiento:</label>
                                <input type="text" ng-model="currentEmployee.place_of_birth" class="form-control" id="estado">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="curp">CURP:</label>
                                <input type="text" class="form-control" ng-model="currentEmployee.curp" id="curp"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="rfc">RFC:</label>
                                <input type="text" class="form-control" ng-model="currentEmployee.rfc"  id="rfc"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="imss">IMSS:</label>
                                <input type="text" class="form-control" ng-model="currentEmployee.imss"  id="imss"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="infonavit">INFONAVIT:</label>
                                <input type="text" class="form-control"  ng-model="currentEmployee.infonavit" id="infonavit"></textarea>
                            </div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="domact">Domicilio Actual:</label>
                                <input type="text" class="form-control" ng-model="currentEmployee.address"  id="domact"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="colonia">Colonia:</label>
                                <input type="text" class="form-control" ng-model="currentEmployee.suburb"  id="colonia"></textarea>
                            </div>
                        </div> 
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="municipio">Municipio:</label>
                                <input type="text" class="form-control" ng-model="currentEmployee.municipality"  id="municipio"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="copo">Código Postal:</label>
                                <input type="text" class="form-control" ng-model="currentEmployee.zipcode"  id="copo"></textarea>
                            </div>
                        </div>                       
                    </div>
              </div>
           
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-show="isChange" ng-click="changeDataEmployee($event)">Cambiar</button>
                <input type="submit" class="btn btn-primary" ng-hide="isChange" >
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          </form>
        </div>
    </div>
    
     <!-- Modal -->
    <div id="seeEmployeeDetails" class="modal fade" role="dialog">
        <div class="modal-dialog">
         <!-- Modal content-->
         
         <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles</h4>
            </div>
            <div class="modal-body">
               
                <div class="work-description"> 
                    <div class="row">
                        <div class="col-md-4">
                          
                        <br><br><br>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                {{currentEmployee.name}}
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="form-group">
                                <label for="position">Puesto:</label>
                               {{currentEmployee.position}}
                            </div>
                        </div>
                    
                       
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="direccion">Fecha de Ingreso:</label>
                               {{currentEmployee.date_of_admission}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="direccion">Fecha de Nacimiento:</label>
                                {{currentEmployee.birthday}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="estado">Lugar de Nacimiento:</label>
                                {{currentEmployee.place_of_birth}}
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="curp">CURP:</label>
                                {{currentEmployee.curp}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="rfc">RFC:</label>
                                {{currentEmployee.rfc}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="imss">IMSS:</label>
                               {{currentEmployee.imss}} 
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="infonavit">INFONAVIT:</label>
                               {{currentEmployee.infonavit}}
                            </div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="domact">Domicilio Actual:</label>
                                {{currentEmployee.address}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="colonia">Colonia:</label>
                                {{currentEmployee.suburb}}
                            </div>
                        </div> 
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="municipio">Municipio:</label>
                               {{currentEmployee.municipality}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="copo">Código Postal:</label>
                                {{currentEmployee.zipcode}}
                            </div>
                        </div>                       
                    </div>
              </div>
           
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-show="isChange" ng-click="printEmployee($event)">Imprimir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>