<div class="estimatorCtrl">
    <div class="">
        <div class="alert alert-warning">
            <strong>Warning!</strong> Esta área aun esta en construcción, fecha estimada de entrega (12/6/2016).
        </div>
        <hr>
        <span>
            <button class="btn btn-primary">Nueva Estimación</button>
            <button class="btn btn-primary" ng-click="openPhases($event)" data-toggle="modal" data-target="#phasesModal">Agregar Conceptos</button>
            <button class="btn btn-primary" ng-click="openMaterials($event)" data-toggle="modal" data-target="#materialsModal">Agregar Materiales</button>     
        </span>
        <div class="row cardsContainer" ng-repeat="work in works">
            <div class="cardWork">
                <div class="col-md-4">
                   <img  height="200" width="200" src="http://intranet.sicosa.mx/images/{{work.photo}}.jpg" >
                </div>
                <div class="col-md-8">
                    <h2>{{work.title}}</h2>
                    <p>{{work.description}}</p>
                </div>
                <div></div>
            </div>
            
        </div>
        
        
        
    </div>
</div>
<!-- Modal Materials -->
<div id="materialsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Materiales</h4> 
        </div>
        <div class="modal-body">
            <!--<div class="buttons">
                <i class="fa fa-plus" style="cursor:pointer; color:green;" ng-click="showAddMaterial = !showAddMaterial"> Agregar Nuevo Material</i>
                   <div ng-show="showAddMaterial"> 
                        <div class="form-group">
                            <label for="nombre">Nombre de Material:</label>
                            <input type="text" class="form-control" ng-model="currentMaterial.name" id="nombre">
                        </div>
                        <div class="form-group">
                            <label for="precio"> Precio por Unidad:</label>
                            $<input type="number" class="form-control" ng-model="currentMaterial.price" id="precio">
                        </div>
                        <div class="form-group">
                            <label for="descripcion"> Descripcion:</label>
                            <textarea  class="form-control" ng-model="currentMaterial.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="Proveedor">Proveedor de Material:</label>
                            <input type="text" class="form-control" ng-model="currentMaterial.supplier" id="Proveedor">
                        </div>
                    </div>
            </div>-->
            
            <div class="table">
                <div class="headers">
                    <div class="col-md-3">
                    <label> Nombre:</label>
                    </div>
                    <div class="col-md-3">
                        <label for="">Precio:</label>
                    </div>
                    <div class="col-md-3">
                        <label for="">Descripción:</label>
                    </div>
                    <div class="col-md-3">
                        <label for="">Proveedor:</label>
                    </div>
                </div>
                <div class="body" ng-repeat="material in materials">
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="material.name">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="material.price">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="material.description">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="material.supplier">
                    </div>
                    
                </div>
            
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"  ng-click="saveMaterial($event)">Guardar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="phasesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Conceptos(Fases)</h4>
        </div>
        <div class="modal-body">
            
            
        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-warning" ng-show="isChange" ng-click="changeDataEmployee($event)">Cambiar</button>-->
            <button type="button" class="btn btn-primary" ng-click="saveUser($event)">Guardar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>