<div class="innventoryCtrl">   
    <div class="">
        <h2>Bodega</h2>
            <!--<div class="col-md-2"><input class="form-control" placeholder="Nombre" type="text"></div>
            <div class="col-md-2"><input class="form-control" placeholder="# de Serie" type="text"></div>
            <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus">
			</i> Agregar
			</button>-->
		<div class="iconContainer">
			<div class="newItem"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</div>
			<div class="filterBy"><i class="fa fa-filter" aria-hidden="true"></i> Filtro</div>
			<div class="export"><i class="fa fa-cloud-download" aria-hidden="true"></i> Exportar</div>
		</div>
		<table st-table="displayedCollection" st-safe-src="wares" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="name">Nombre</th>
				<th st-sort="stock">Descripción</th>
				<th st-sort="total">Total</th>
				<th st-sort="description">Stock</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="Búsqueda ..." type="text"/></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td><input type="text" class="form-control" ng-model="row.name"></td>
				<td><input type="text" class="form-control" ng-model="row.description"></td>
				<td><input type="number" class="form-control" ng-model="row.stock"></td>
				<td><input type="number" class="form-control" ng-model="row.total"></td>
				<td>
				<button type="button"  class="btn btn-sm btn-primary" ng-click="updateItem($event,row)">
					<i class="fa fa-floppy-o" aria-hidden="true"></i>
				</button>
                <button type="button" ng-click="removeItem($event,row)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
                <button type="button"  class="btn btn-sm btn-info">
					<i class="fa fa-info" aria-hidden="true"></i>
				</button>

				</td>
			</tr>
			</tbody>
		</table>
        
		<button class="btn btn-info">Ver Reporte de Herramientas</button>
    </div>
</div>