<style> body{background-image: url("images/login-img.jpg");background-size:'cover';}#wrapper {padding-left: 0px; }</style>
<div class="loginCtrl">
    <div class="container">
        <div class="jumbotron">
            <img class="img-responsive" src="images/logo-150x50.png" style="margin: 0 auto;">
            <input class="form-control" placeholder="User" ng-model="username"/>
            <input type="password" class="form-control" placeholder="Password" ng-model="password" ng-keyup="enter($event)"/>
            <br>
            <button class="btn btn-primary" ng-click="signme($event)">Log In</button>
        </div>
    </div>
    
</div>
