<div class="mainCtrl">
    <div class="row"><span><h2>Hola {{name}}</h2></span></div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div id="container"></div>
      </div>
      <div class="col-md-6">
        <div id="container2" class="">

        </div>
      </div>
   </div>
</div>
