<!-- Modal -->
<div class="modal fade" id="newArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Nuevo art&iacute;culo</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="userList">Nombre</label>
							<input type="text" class="form-control" ng-model="articleData.name">
						</div>
						<div class="form-group">
							<label for="userList">Serie/Placas</label>
							<input type="text" class="form-control" ng-model="articleData.serie">
						</div>
						<div class="form-group">
							<label for="userList">Especificaciones</label>
							<textarea name="" id="" cols="30" rows="4" class="form-control" ng-model="articleData.specs"></textarea>
						</div>
						<div class="form-group">
							<label for="userList">Accesorios</label>
							<textarea name="" id="" cols="30" rows="4" class="form-control" ng-model="articleData.accesories"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-hide="isEdit" ng-click="saveArticleData($event)">Guardar</button>
				<button type="button" class="btn btn-primary" ng-show="isEdit" ng-click="updateArticle($event)">Editar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
