<!-- Modal -->
<div class="modal fade" id="newRequestArticle" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Nueva solicitud</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="userList">Usuario</label>
							<select class="form-control select-lists" style="width: 100%;" ng-model="reqArticleData.user_id">
								<option></option>
								<option ng-repeat="user in users | toArray:false | orderBy:'first_name'" value="{{user.id}}" ng-value="user.id">{{user.first_name}} {{user.last_name}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="userList">Art&iacute;culo</label>
							<select class="form-control select-lists" style="width: 100%;" ng-model="reqArticleData.article_id">
								<option></option>
								<option ng-repeat="article in articles | toArray:false | orderBy:'name'" ng-if="article.status == 'Disponible'" value="{{article.id}}" ng-value="article.id">
									{{article.name}} -- {{article.serie}}

								</option>
							</select>
						</div>
						<div class="form-group">
							<label for="userList">Comentarios {{reqArticleData.article_id ? '(recepci&oacute;n de equipo)' : '(entrega de equipo)'}}:</label>
							<textarea name="" id="" cols="30" rows="5" ng-model="reqArticleData.comment_before"  class="form-control"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="saveNewArtRequest($event)">Guardar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
