<div class="reportsCtrl">
    <div class="">
        <div class="row">
            <div class="col-md-4">
                <a href="#/reports/requisition">
                <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
                <p>Reportes de Requisición</p>
                </a>
            </div>      
        </div>
        <!--<canvas width="200" height="200" id="canvas" signature></canvas>-->
        
    </div>
    <!--<text-angular ng-model="htmlVariable"><img src="../images/logo-150x50.png" alt=""></text-angular>-->
</div>