<button type="button" class="btn btn-sm btn-primary pull-right margin-top-bott" data-toggle="modal" data-target="#newRequestArticle" ng-click="newRequestArticle($event)">
	<i class="glyphicon glyphicon-plus"></i> Solicitud
</button>
<div class=clearfix></div>
<div class="table-responsive">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th class="text-center">Nombre</th>
				<th class="text-center">Puesto</th>
				<th class="text-center">Fecha</th>
				<th class="text-center">Art&iacute;culo</th>
				<th class="text-center">Serie/Placas</th>
				<th class="text-center">Comentarios</th>
				<th class="text-center">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="articleUser in articlesUsers | toArray:false ">
				<td>{{articleUser.user_name}}</td>
				<td>{{articleUser.puesto}}</td>
				<td class="text-center">{{articleUser.fecha_prestamo | date:'dd/MM/yy'}}</td>
				<td>{{articleUser.article_name}}</td>
				<td class="text-center">{{articleUser.serie}}</td>
				<td class="text-center">
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#viewCommentsRequest" ng-click="viewCommentsRequest($event,articleUser.comment_before, articleUser.comment_after)">Ver</button>
				</td>
				<td class="text-center">
					<div class="btn-group btn-group-sm" role="group" aria-label="...">
						<!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newRequestArticle" ng-click="editRequestArticle($event,articleUser)"><i class="glyphicon glyphicon-pencil"></i></button> -->
						<button type="button" class="btn btn-info" name="button" ng-click="viewPDFRequest($event,articleUser)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="glyphicon glyphicon-trash"></i></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<!-- Modal -->
<div class="modal fade" id="viewCommentsRequest" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Comentarios</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<label for="">Entrega de equipo</label>
						<p>{{current_c_b}}</p>
						<label for="">Recepci&oacute;n de equipo</label>
						<p>{{current_c_a}}</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
