<div class="requisitionCtrl">
    <h2>Requisición</h2>
    <div class="iconContainer">
        <div class="newItem" data-toggle="modal" data-target="#newReqModal"><i class="fa fa-plus" aria-hidden="true"></i> Nueva Requisición</div>
        <div class="filterBy"><i class="fa fa-filter" aria-hidden="true"></i> Filtro</div>
        <div class="export"><i class="fa fa-cloud-download" aria-hidden="true"></i> Exportar</div>
    </div>
    <table st-table="displayedCollection" st-safe-src="wares" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="code">Código</th>
            <th st-sort="product">Producto</th>
            <th st-sort="description">Descripción</th>
            <th st-sort="unit">Unidad</th>
            <th st-sort="qty_requisited">Cantidad Requisitada</th>
            <th st-sort="qty_required">Cantidad Requerida</th>
            <th st-sort="date_required">Fecha Requerida</th>
            <th st-sort="departure">Partida</th>
            <th st-sort="pending">Pendiente de Requerir</th>    
        </tr>
        <tr>
            <th colspan="9"><input st-search="" class="form-control" placeholder="Búsqueda ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td><input type="text" class="form-control" ng-model="row.name"></td>
            <td><input type="text" class="form-control" ng-model="row.description"></td>
            <td><input type="number" class="form-control" ng-model="row.stock"></td>
            <td><input type="number" class="form-control" ng-model="row.total"></td>
            <td>
            <button type="button"  class="btn btn-sm btn-primary" ng-click="updateItem($event,row)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
            <button type="button" ng-click="removeItem($event,row)" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
            </button>
            <button type="button"  class="btn btn-sm btn-info">
                <i class="fa fa-info" aria-hidden="true"></i>
            </button>

            </td>
        </tr>
        </tbody>
    </table>
    
    <button class="btn btn-info">Ver Reporte de Herramientas</button>
</div>
<!-- Modal -->
<div id="newReqModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nueva Req.</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Producto</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="prod" placeholder="Disco Duro HDD">
            </div>
        </div><br>
        
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Descripción</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="prod" placeholder="500GB SSD">
            </div>
        </div><br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Unidad</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="prod" placeholder="Kg, gr, cm, mb">
            </div>
        </div><br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Cantidad Requisitada</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="prod" placeholder="3">
            </div>
        </div><br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Cantidad Requerida</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="prod" placeholder="3">
            </div>
        </div><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>