<div class="requisitionCtrl">
    <h2>Requisición</h2>
    <div class="iconContainer">
        <div class="newItem" data-toggle="modal" data-target="#newReqModal"><i class="fa fa-plus" aria-hidden="true"></i> Nueva Requisición</div>
        <div class="filterBy"><i class="fa fa-filter" aria-hidden="true"></i> Filtro</div>
        <div class="export"><i class="fa fa-cloud-download" aria-hidden="true"></i> Exportar</div>
    </div>
    <table st-table="displayedCollection" st-safe-src="requisitions" class="table table-striped">
        <thead>
        <tr>

            <th st-sort="product">Producto</th>
            <th st-sort="description">Descripción</th>
            <th st-sort="unit">Unidad</th>
            <th st-sort="qty_requisited">Cantidad Requisitada</th>
            <th st-sort="qty_required">Cantidad Requerida</th>
            <th st-sort="date_required">Fecha Requerida</th>
            <th st-sort="departure">Partida</th>
            <th st-sort="description">Descripción / Partida</th>
            <th st-sort="pending">Pendiente de Requerir</th>
            <th>Acciones</th>
        </tr>
        <tr>
            <th colspan="10"><input st-search="" class="form-control" placeholder="Búsqueda ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">

            <td><input type="text" class="form-control" ng-model="row.product"></td>
            <td><input type="text" class="form-control" ng-model="row.description"></td>
            <td><input type="text" class="form-control" ng-model="row.unit"></td>
            <td><input type="text" class="form-control" ng-model="row.qty_requisited"></td>
            <td><input type="text" class="form-control" ng-model="row.qty_required"></td>
            <td><input type="date" class="form-control" ng-model="row.date_required "></td>
            <td><input type="text" class="form-control" ng-model="row.departure"></td>
            <td><input type="text" class="form-control" ng-model="row.description"></td>
            <td><input type="text" class="form-control" ng-model="row.pending"></td>
            <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <button type="button" class="btn btn-default" name="button">
                <i class="glyphicon glyphicon-floppy-disk"></i>
              </button>
              <button type="button" ng-click="removeReq($event,row.id)" class="btn btn-danger">
                  <i class="glyphicon glyphicon-remove-circle">
                  </i>
              </button>
            </div>
            </td>
        </tr>
        </tbody>
    </table>

    
</div>
<!-- Modal -->
<div id="newReqModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nueva Req.</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Producto</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"ng-model="req.product" id="prod" placeholder="Disco Duro HDD">
            </div>
        </div><br>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Descripción</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"ng-model="req.description" id="prod" placeholder="500GB SSD">
            </div>
        </div><br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Unidad</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="req.unit" id="prod" placeholder="Kg, gr, cm, mb">
            </div>
        </div><br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Cantidad Requisitada</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="req.qty_requisited" id="prod" placeholder="3">
            </div>
        </div><br><br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Cantidad Por Requerir</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="req.qty_required" id="prod" placeholder="3">
            </div>
        </div><br><br>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Fecha Requerida</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" ng-model="req.date_required" id="prod" placeholder="3">
            </div>
        </div><br><br>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Partida</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="req.departure" id="prod">
            </div>
        </div><br>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Descripción / Partida</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="req.description" id="prod">
            </div>
        </div><br>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Pendiente por Requerir</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="req.pending" id="prod" >
            </div>
        </div><br>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" name="button" ng-click="saveReq($event)">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
