<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        SICOSA
                    </a>
                </li>
                <li>
                    <a href="#/dashboard"><i class="fa fa-desktop" aria-hidden="true"></i> Escritorio</a>
                </li>
                <li>
                    <a href="#/works"><i class="fa fa-building "></i> Trabajos y Obras</a>
                </li>
                <li>
                    <a href="#/employees"><i class="fa fa-users"></i> Empleados Externos</a>
                </li>
                <li>
                  <a href="#/requisitions" ng-if="role == 'Administrador'"><i  class="fa fa-file-text"></i> Requisiciones</a>
                </li>
                <li>
                    <a href="#/articles" ng-if="role == 'Administrador'"><i class="fa fa-archive"></i> Resguardo de Equipo</a>
                </li>
                <li>
                    <a href="#/spreads" ng-if="role == 'Administrador'"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Documentos Colaborativos</a>
                </li>
                <!-- <li>
                    <a href="#/estimator"><i class="fa fa-calculator"></i> Estimador de Costos</a>
                </li> -->
                <li>
                    <a href="#/users" ng-if="role == 'Administrador'"> <i ng-hide="titleUser" class="fa fa-user"></i> Empleados Internos</a>
                </li>

                <li>
                    <a href="http://intranet.sicosa.mx/pdf/" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Instructivos</a>
                </li>
                <li>
                    <a href="#/account"><i class="fa fa-map-marker" aria-hidden="true"></i> Mi Cuenta</a>
                </li>
            </ul>
        </div>