<div class="spreadsCtrl">
   <div class=''>
        <div class="row headers">
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="search" placeholder="Buscar...">
            </div>
            <div class="col-md-2">
                <button class="btn btn-success" data-toggle="modal" ng-click="openModal($event,'')" data-target="#addSpread">Agregar Spreadsheet</button>
            </div>
        </div>
        <br>
        <!-- <div class="row">
            <div class="col-sm-4 col-md-4" ng-repeat="spr in spreads | toArray:false | filter: search">

                    <div class="thumbnail">
                        <img src="images/excel-spreadsheet-icon-file-type-xls-icon-18.png" width="128" height="128" alt="...">
                        <div class="caption">
                            <h3>{{spr.name}}</h3>
                            <p>Tema: {{spr.subject}}</p>
                            <p>Obra: {{spr.work.title}}</p>
                            <p>Creado por: {{spr.author}}</p>
                            <p>Users:</p>
                            <div ng-repeat="user in spr.users">
                                <p  class="label label-primary" style="display:block;"> {{user.first_name}} {{user.last_name}}</p>
                                <a target="_blank" ng-if="user.id == idUser" href="http://intranet.sicosa.mx:8000/{{spr.url}}">Ver documento</a>
                            </div>


                        </div>
                    </div>

                <button class="btn btn-warning" ng-click="removeSpread($event, spr.id)">ELIMINAR</button>
            </div>
        </div> -->
        <div class="row spread-container" ng-repeat="spr in spreads | filter:search">
          <div class="col-md-2">
            <img src="images/excel-spreadsheet-icon-file-type-xls-icon-18.png" class="img-responsive" alt="..." style="max-width:80px;">
          </div>
          <div class="col-md-3">
            <p><label for="">Título: </label>{{spr.name}}</p>
            <p><label for="">Tema: </label>{{spr.subject}}</p>
            <p><label for="">Obra: </label>{{spr.work.title}}</p>
            <p><label for="">Autor: </label>{{spr.author}}</p>
          </div>
          <div class="col-md-3">
            <div ng-repeat="user in spr.users" style="display:inline-block;margin-right:5px;">
                <!-- <p  class="label label-primary" style="display:block;"> {{user.first_name}} {{user.last_name}}</p> -->
                <img class="img-circle" title="{{user.first_name}} {{user.last_name}}" src="http://intranet.sicosa.mx/images/{{user.photo}}.jpg" alt="" onerror="this.onerror=null;this.src='images/icon-user-default.png';" style="width:32px;" />
            </div>
          </div>
          <div class="col-md-4">
            <p><a target="_blank"  href="http://intranet.sicosa.mx:8000/{{spr.url}}"><i class="fa fa-eye"></i> Ver documento</a></p>
            <p><a href="" ng-click="removeSpread($event, spr.id)"><i class="fa fa-trash"></i> Eliminar</a></p>
          </div>
        </div>

   </div>
</div>
<!-- Modal -->
<div id="addSpread" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Spreadsheet</h4>
        </div>
        <div class="modal-body">

            <div class="work-description">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombre">Título:</label>
                            <input type="text" ng-model="spread.name" class="form-control" id="nombre">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="apellido">Tema:</label>
                            <input type="text" ng-model="spread.subject" class="form-control" id="apellido">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" >
                            <div class="form-group">
                                <label for="work">Asignar a (Obra):</label>
                                    <angucomplete-alt id="ex1"
                                        placeholder="Buscar Obra"
                                        pause="100"
                                        selected-object="selectedWork"
                                        local-data="works"
                                        search-fields="title"
                                        title-field="title"
                                        minlength="1"
                                        input-class="form-control form-control-small"/>

                            </div>
                        </div>
                   </div>
                   <div class="row">
                         <div class="col-md-6" >
                             <div class="form-group">
                                <label for="work">Etiquetar:</label>
                                    <select class="js-example-basic-multiple-users form-control" ng-model="spread.users" multiple="multiple">
                                        <option ng-repeat="user in users" value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                                    </select>
                             </div>
                        </div>
                   </div>

            </div>

        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-warning" ng-show="isChange" ng-click="changeDataEmployee($event)">Cambiar</button>-->
            <button type="button" class="btn btn-primary"  ng-click="saveSpread($event)">Guardar</button>
            <button type="button" class="btn btn-default" ng-click="closeModal($event)" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
