<div class="usersCtrl">
    <div class="">
        <div class="row headers">
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="search" placeholder="Buscar...">
            </div>
            <div class="col-md-2">
                <button class="btn btn-success" data-toggle="modal" ng-click="openModal($event,'')" data-target="#addUserModal">Agregar Usuario</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6" ng-repeat="user in users  | filter: search">
                <div class="thumbnail">
                    <img class="img-circle" src="http://intranet.sicosa.mx/images/{{user.photo}}.jpg" onerror="this.onerror=null;this.src='images/icon-user-default.png';" style="width:128px;height:128px;" alt="...">
                    <div class="caption">
                        <h3>{{user.first_name}} {{user.last_name}}</h3>
                        <p>Area: {{user.area}}</p>
                        <p>
                            <a href="" class="btn btn-info" role="button" disabled>Ver mas Detalles</a>
                            <a href="" class="btn btn-primary" data-toggle="modal" ng-click="openModal($event,user)" data-target="#addUserModal">Editar</a>
                            <a href="" class="btn btn-danger" role="button" ng-click="removeUser($event, user.id)">Eliminar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="addUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Agregar Usuario</h4>
        </div>
        <div class="modal-body">

            <div class="work-description">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombre">Nombres:</label>
                            <input type="text" ng-model="user.first_name" class="form-control" id="nombre">
                        </div>
                    </div>
                    <div class="col-md-6"> <div class="photo col-md-4">
                          <div class="btn btn-primary" ngf-select ng-model="user.photo" name="file" ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 224, height: 224}"
                               >Agregar imagen</div>

                                <img ngf-src="!user.photo.$error && user.photo" style="position:fixed;">
                        </div></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="apellido">Apellidos:</label>
                            <input type="text" ng-model="user.last_name" class="form-control" id="apellido">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Correo:</label>
                            <input type="text" ng-model="user.email" class="form-control" id="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="role">Rol:</label>
                            <select ng-model="user.area" class="form-control" id="role">
                                <option value="Administrador">Administrador</option>
                                <option value="Estimador">Estimador de Costos</option>
                                <option value="RH">Recursos Humanos</option>
                                <option value="Bodeguero">Bodeguero</option>
                                <option value="Encargado de Obra">Encargado de Obra</option>
                                <option value="Contabilidad">Contabilidad</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row" ng-if="user.area =='Encargado de Obra'">
                    <div class="col-md-6" >
                    <label for="">Obras:</label>
                    <select class="js-example-basic-multiple form-control" ng-model="user.works" multiple="multiple">
                      <option ng-repeat="work in works" value="{{work.id}}">{{work.title}}</option>

                    </select>
                        <!-- <input type="hidden" ng-model="selectedWork">
                            <div class="form-group">
                                <label for="work">Asignar a (Obra):</label>
                                    <angucomplete-alt id="ex1"
                                        placeholder="Buscar Obra"
                                        pause="100"
                                        selected-object="$parent.selectedWork"
                                        local-data="works"
                                        search-fields="title"
                                        title-field="title"
                                        minlength="1"
                                        input-class="form-control form-control-small"/>

                            </div> -->
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-show="isAdd">
                            <label for="position">Password:</label>
                            <pwgen
                                ng-model="user.password"
                                placeholder="Password"
                            ></pwgen>
                        </div>
                    </div>
                </div>



            </div>

        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-warning" ng-show="isChange" ng-click="changeDataEmployee($event)">Cambiar</button>-->
            <button type="button" class="btn btn-primary" ng-show="isAdd" ng-click="saveUser($event)">Guardar</button>
            <button type="button" class="btn btn-primary" ng-hide="isAdd" ng-click="changeUser($event)">Cambiar</button>
            <button type="button" class="btn btn-default" ng-click="closeModal($event)" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
