<div class="workDetailsCtrl">
    <div class="">
        <div class="row">
            <div class="col-md-4 col-xs-4 photo">
                <img class="img-responsive" src="http://intranet.sicosa.mx/images/{{work.photo}}.jpg" >
            </div>
            <div class="col-md-5 col-xs-5">
                <div class="title"><h2>{{work.title}}</h2></div>
                <div class="type"><b>{{work.type}}</b></div>
                <address class="address">{{work.address}}</address>
                <div class="contract_type">{{work.contract_type}}</div>
                <div class="description">{{work.description}}</div>
                <span class="label label-info" ng-repeat="phase in work.phase">{{phase.name}}</span>
            </div>
            <div class="col-md-3 col-xs-3" >
                <div id="pieContainer" style="margin-top:-100px;"></div>
            </div>
        </div>
        <div class="row">
            <h2>Datos del Cliente:</h2>
            <p>
              No hay datos del cliente
            </p>
        </div>
        <div class="row">
            <h2>Ubicación:</h2>
            <div map-lazy-load="https://maps.google.com/maps/api/js"
                map-lazy-load-params="{{googleMapsUrl}}">
                <ng-map center="{{work.lat}},{{work.lon}}" zoom="15" id='map'>
                        <marker centered="true" position="{{work.lat}},{{work.lon}}"></marker>
                </ng-map>
            </div>
        </div>
        <div class="row">
            <h2>Encargados</h2>
            <p>
              No hay Encargados
            </p>
        </div>

    </div>
</div>
