<div class="workCtrl">
    <div class="">
        <div class="row headers">
         <div class="col-md-10">
             <input type="text" class="form-control" ng-model="search" placeholder="Buscar...">
         </div>
         <div class="col-md-2">
             <button class="btn btn-success" data-toggle="modal" ng-click="openModal($event,'lg')" data-target="#addWorkModal">Agregar Obra</button>   
         </div>
        </div>
        <div class="row">
            <div class="col-md-6 card" ng-repeat="work in works.response | filter:search ">
                <div class="col-md-4 col-xs-4">            
                  <!--<div class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                   ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                   ngf-resize="{width: 100, height: 100}">Agregar imagen</div>-->
                    <img class="img-responsive" src="http://intranet.sicosa.mx/images/{{work.photo}}.jpg" >
                    <!--<img ngf-src="!file.$error && file">-->
                </div>
                
                <div class="col-md-8 col-xs-8">
                    <div class="pull-right"><i class="fa fa-times-circle" ng-click="removeWork($event, work.id)" style="cursor:pointer;color:red;" aria-hidden="true"></i></div>
                    <div class="title">{{work.title}}</div>
                    <div class="type">{{work.type | uppercase}}</div>
                    <div class="period">{{work.date}}</div>
                    <div class="address">{{work.address}}</div>
                    <div class="description">{{work.description}}</div>
                </div>
                <div class="card-footer">
                    <a href="" ng-click="goToWork($event,work.id)">Ver mas detalles</a>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-pencil" style="color:blue;cursor:pointer;" ng-click="editWork($event, work)"></i>
                </div>
            </div>
        </div>       
    </div>
    <!-- Modal -->
    <div id="addWorkModal" class="modal fade" role="dialog"  >
        <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar Obra</h4>
            </div>
            <div class="modal-body">
                
                <div class="" ng-click="workDescription =! workDescription">+ Descripción de la Obra</div>
                <div class="work-description" ng-show="workDescription"> 
                    <div class="row">
                        <div class="photo col-md-4">
                          <div class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 224, height: 224}"
                               >Agregar imagen</div>
                               
                                <img ngf-src="!file.$error && file">
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" ng-model="currentWork.title" id="nombre">
                            </div>
                        </div>
                    
                    
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="tipo">Tipo:</label>
                                <select name="" id="tipo" ng-model="currentWork.type" class="form-control">
                                    <option value="Topografía">Topografía</option>
                                    <option value="Edificación">Edificación</option>
                                    <option value="Urbanización">Urbanización</option>
                                    <option value="Construcción">Construcción</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="descripcion">Descripción:</label>
                                <textarea class="form-control" ng-model="currentWork.description" rows="5" id="descripcion"></textarea>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="" ng-click="workLocation =! workLocation">+ Ubicación Obra</div>
              <div class="work-phases" ng-show="workLocation"> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="state">Estado:</label>
                                <input type="text" ng-model="currentWork.state" class="form-control" id="state">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lat">Latitud:</label>
                                <input type="text" ng-model="currentWork.lat" class="form-control" id="lat" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lon">Longitud:</label>
                                <input type="text" ng-model="currentWork.lon" class="form-control" id="lon" disabled>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zip">Código Postal:</label>
                                <input type="text" ng-model="currentWork.zip" class="form-control" id="zip">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="address">Dirección:</label>
                                <input type="text" ng-model="currentWork.address" class="form-control" id="address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div map-lazy-load="https://maps.google.com/maps/api/js"
                            map-lazy-load-params="{{googleMapsUrl}}">
                            <ng-map center="41,-87" zoom="3" id='map'>
                                  <marker centered="true" position="current-location" draggable="true" on-dragend="getCurrentLocation($event)"></marker>    
                            </ng-map>
                        </div>
                    </div>
              </div>
              <!--<div class="" ng-click="workPhases =! workPhases">+ Fases de la Obra</div>
              <div class="work-phases" ng-show="workPhases"> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombre">Fase:</label>
                                <select class="form-control">
                                    <option value="">Demolición</option>
                                    <option value="">Entrega de Material</option>
                                    <option value="">Construcción</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="spend">Gasto:</label>
                                <input type="text" class="form-control" id="spend">
                            </div>
                        </div>
                    </div>
              </div>-->
              <div class="" ng-click="workCustomer =! workCustomer">+ Cliente de la Obra</div>
              <div class="work-customer" ng-show="workCustomer"> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" id="nombre">
                            </div>
                        </div>
                    </div>
              </div>
              <!--<div class="" ng-click="workMaterials =! workMaterials">+ Materiales de la Obra</div>
              <div class="work-materials" ng-show="workMaterials"> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" id="nombre">
                            </div>
                        </div>
                    </div>
              </div>-->              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-show="isChange" ng-click="changeDataWork($event)">Cambiar</button>
                <button type="button" class="btn btn-primary" ng-hide="isChange" ng-click="saveWork($event)">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
    </div>

</div>
