@import url(https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: url('../images/bg-opacity.jpg') no-repeat;
  background-size: cover;
  font-family: 'Poiret One';
  overflow-x: hidden;
}

.navbar{
    min-height: 90px!important;
    font-size: 20px;
}


.navbar-default {
    background-color: rgba(2, 0, 0, 0.65)!important;
    border-color: transparent!important;
}


.navbar-default .navbar-nav > li > a {
    color: #FFF!important;
}


.navbar-collapse{
    margin-top: 30px!important;    
}


.mainCtrl .jumbotron{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #000;
    /*background-color: rgba(74, 99, 174, 0.68);*/
    border-bottom: transparent;
    margin-top: 100px;
    text-align: justify;
    text-justify: inter-word;
   
}

.mainCtrl #message{
    color: #FFF; 
    text-align: center!important; 
    font-size: 8em; 
    
}

.mainCtrl .body{
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}
video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}
.mainCtrl .video-container{
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 2rem;
    width: 33%;
    margin: 2rem;
    float: right;
    font-size: 1.2rem;
}

.workCtrl .container .workItem{
    background: #FFF;
    margin-bottom: 2px;
}

.workCtrl .square{
    height: 400px;
    background: #000;
    border: 1px solid #FFF;
}

.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Video */


/* Animations */
.rotate {
    -webkit-animation-duration: 1s;
}
.ng-leave.rotate {
    -webkit-animation-name: rotate-leave;
}
.ng-enter.rotate {
    -webkit-animation-name: rotate-enter;
}
@-webkit-keyframes rotate-leave {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
}
@-webkit-keyframes rotate-enter {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-360deg);
        opacity: 1;
    }
}


@media (max-width: 580px) {
    .mainCtrl #message{
        color: #FFF; 
        text-align: center; 
        font-size: 4em; 
        font-weight: bold;
    }
}
