<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-pwgen/angular-bootstrap-pwgen.css" />
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="https://select2.github.io/dist/css/select2.min.css">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:css(.) styles/vendors.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />

    <!-- endbuild -->

  </head>
  <body ng-app="intranetApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!--<div class="header">
      <div class="navbar navbar-default" role="navigation" ng-controller="menuCtrl">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/dashboard">SICOSA</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li><a href="#/dashboard">Home</a></li>
              <li><a href="#/about">Ayuda</a></li>
              <li><a href=""  data-toggle="modal" data-target="#changePswModal"  ><i class="fa fa-unlock-alt" aria-hidden="true"></i> Cambiar Contraseña</a></li>
              <li><a href="" ng-click="logout($event)"><i class="fa fa-power-off"></i> Salir</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>-->
    <div id="wrapper" class="container-fluid">

        <div class="header"  class="col-md-3">

        <!-- Sidebar -->
        <sidebar></sidebar>
        </div>

        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper" class="col-md-9">

            <div ng-view=""></div>

        </div>
        <div class="footer">

        </div>
    </div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-notification/angular-notification.js"></script>
    <script src="bower_components/rangy/rangy-core.js"></script>
    <script src="bower_components/rangy/rangy-classapplier.js"></script>
    <script src="bower_components/rangy/rangy-highlighter.js"></script>
    <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
    <script src="bower_components/rangy/rangy-serializer.js"></script>
    <script src="bower_components/rangy/rangy-textrange.js"></script>
    <script src="bower_components/textAngular/dist/textAngular.js"></script>
    <script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
    <script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
    <script src="bower_components/flow.js/dist/flow.js"></script>
    <script src="bower_components/ng-flow/dist/ng-flow.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-bootstrap-pwgen/angular-bootstrap-pwgen.js"></script>
    <script src="bower_components/angular-bcrypt/dist/dtrw.bcrypt-df34c8d1.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/highcharts-more.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="https://select2.github.io/dist/js/select2.full.js"></script>
    <script src="https://rawgit.com/bpampuch/pdfmake/master/build/pdfmake.min.js"></script>
    <script src="https://rawgit.com/bpampuch/pdfmake/master/build/vfs_fonts.js"></script>
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/menu.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/authservice.js"></script>
    <script src="scripts/controllers/works.js"></script>
    <script src="scripts/services/workservices.js"></script>
    <script src="scripts/controllers/reports.js"></script>
    <script src="scripts/controllers/workdetails.js"></script>
    <script src="scripts/controllers/employees.js"></script>
    <script src="scripts/controllers/inventory.js"></script>
    <script src="scripts/services/employeeservices.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/services/userservices.js"></script>
    <script src="scripts/controllers/phases.js"></script>
    <script src="scripts/controllers/estimator.js"></script>
    <script src="scripts/services/materialservice.js"></script>
    <script src="scripts/services/phaseservices.js"></script>
    <script src="scripts/services/supplierservices.js"></script>
    <script src="scripts/controllers/spreads.js"></script>
    <script src="scripts/services/spreadservices.js"></script>
    <script src="scripts/controllers/reportdetails.js"></script>
    <script src="scripts/services/warehouseservices.js"></script>
    <script src="scripts/controllers/requisitions.js"></script>
    <script src="scripts/controllers/account.js"></script>
    <script src="scripts/directives/signature.js"></script>
    <script src="scripts/controllers/manuals.js"></script>
    <script src="scripts/services/inventoryservices.js"></script>
    <script src="scripts/controllers/requisition.js"></script>
    <script src="scripts/services/requisitionservices.js"></script>
    <script src="scripts/controllers/articles.js"></script>
    <script src="scripts/directives/newrequestarticle.js"></script>
    <script src="scripts/directives/articleslist.js"></script>
    <script src="scripts/directives/requestsariclelist.js"></script>
    <script src="scripts/directives/newarticle.js"></script>
    <script src="scripts/services/articleslistservices.js"></script>
    <script src="scripts/directives/deletemodal.js"></script>
    <script src="scripts/controllers/piecework.js"></script>
    <script src="scripts/directives/sidebar.js"></script>
    <!-- endbuild -->
</body>
</html>
