<ion-header>
  <ion-navbar>
    <ion-title>
      Mi Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-list-header>{{first_name}} {{last_name}}</ion-list-header>
    <ion-item>
      <button full>Cambiar Contraseña</button>
      <!--<button full>Mis Reportes</button>-->
      <button full (click)="openReqModal()">Nueva Requisición</button>
      <button (click)="onClickLogout()" full danger >Salir</button>
    </ion-item>
  </ion-list>
</ion-content>
