.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* Inventory*/
 .iconContainer div{
    display: inline-block;
    margin-right: -2px;
    /* background: #5bc0de; */
    /* color: #FFF; */
    padding: 10px;
    color: #337ab7;
    cursor: pointer;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.navbar-default {
    background-color: #247BA0!important;
    border-color: #247BA0!important;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF!important;
}

.navbar-default .navbar-brand {
    color: #FFF!important;
}
/*Login Controller */
.loginCtrl {
    margin-top: 100px;
    margin-bottom: 100px;
}

.loginCtrl .jumbotron {
    width: 60%;
    margin: 0 auto;
}

/*About Controller */
.aboutCtrl .title{
    text-align: center;
}



/* Main Controller */
.mainCtrl .greetings{
    margin-left: 110px;
    font-size: 30px;
}

.mainCtrl .container-fluid{
    padding-left: 120px;
    padding-right: 120px;
}

.mainCtrl .container-fluid .options{
    text-align: center;
    margin-top: 100px;
}

.mainCtrl .container-fluid .options .col-md-3{
    border: 5px solid #FFF;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    min-height: 155px;
    color: #FFF;
}

/*.mainCtrl .container .row .col-md-3:hover{

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}*/

.mainCtrl .title{
    font-size: 30px;
}


.mainCtrl .container-fluid .options .works-icon{
    background-color: #50514F;
}

.mainCtrl .container-fluid .options .employees-icon{
    background-color: #F25F5C;
}

.mainCtrl .container-fluid .options .reports-icon{
    background-color: #FFE066;
}

.mainCtrl .container-fluid .options .customers-icon{
    background-color: #247BA0;
}
.mainCtrl .container-fluid .options .users-icon{
    background-color: #66C0FF;
}
.mainCtrl .container-fluid .options .estimator-icon{
    background-color: #000000;
}
.mainCtrl .container-fluid .options .excel-icon{
    background-color: #24A072;
}




/* Work Controller */
.workCtrl .card{
    padding: 10px;
    height: 200px;
    background-color: #e3e3e3;
    border: 4px solid #FFF;
    margin-bottom: 10px;
}

.headers{
    margin-bottom: 15px;
}

.workCtrl .card .title{
    font-size: 15px;
    font-weight: bold;
}

.workCtrl .card .description{
    font-size: 12px;

}

.workCtrl .card .card-footer{
    font-size: 12px;
    bottom: 0;
    position: absolute;

}


/*employees */
.employeeCtrl .buttons a{
    margin-left: 20px;
    padding: 5px;
}


/* Estimator */

.estimatorCtrl .cardsContainer{
    margin-top: 50px;
    border: 2px solid #247BA0;
}

.estimatorCtrl .cardsContainer .cardWork{

    min-height: 100px;
    padding: 5px;
}

/* SpreadCtrl */

.spreadsCtrl .spread-container{
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #e3e3e3;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;

}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*.modal-dialog{
    width: 80%;
}*/

.fa-2{
    font-size: 4em!important;
}

.fa-4{
    font-size: 8em!important;
}

.fa-5 {
    font-size: 12em!important;
}
.fa-6 {
    font-size: 20em!important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
    #wrapper {
        padding-left: 250px;

    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}

@media (max-width: 480px) {
    .mainCtrl .greetings{

        font-size: 15px;
    }

    .mainCtrl .container-fluid .options .col-md-3{
        border: 5px solid #FFF;
        padding: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        min-height: 100px;
        color: #FFF;

    }

    .mainCtrl .title{
        font-size: 15px;
    }

}

/*General*/
.margin-top-bott{
  margin: 10px 0px;
}
/*-------*/
