/* Empty. Add your own CSS if you like */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bartitle{
	position: relative;
}

.more-details{
	padding: 10px 0px;
}

/*Material List*/
.list .item.item-accordion {
  line-height: 17px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.txt-right{
	text-align: right;
}
.txt-left{
	text-align: left;
}

.bold{
	font-weight: bold;
}

.right{
	float: right;
}

.left{
	float: left;
}

/*Ionic Popover*/
.popover {
  height: auto !important;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;
}
.popover-inner-content {
  width: 100%;
  padding: 5px 20px;
}

/***/
.pad-cantidad{
	padding-right: 23px
}
.delete-material{
	margin-right: 10px;
	font-size: 20px;
}

select.select-materials{
  right: 30px !important;
  direction: ltr !important;
}
.item-select.select-materials:after{
  right: 35px !important;
}
.i-add-material{
  position: absolute !important;
  right: 10px !important;
}