<p>Hola <b><%=recipientName%></b>,</p>
<br/>
<p><em>Tu registro fue realizado con exito </em> tu password es: <%=password%> </p>
Ingresa a <a href="http://intranet.sicosa.mx">SICOSA</a> para activar tu cuenta 
<br>
Saludos :)